{% extends "html/base.html" %}

{% block nav %}
<a class="nav_link" href="login">Sign in</a>
<a class="nav_link" href="register">Sign up</a>
{% endblock %}

{% block content %}
<div class="intro" id="intro">
    <div class="container">
        <div class="title-content" id="intro-title">
            <h1 class="title">Welcome to Flatting Fox</h1><br>
            <ul>
                <li>All familiar game Flappy Birds in the new version.</li>
                <!--<li>Earn points and personalize your fox.</li>-->
                <li>Compete with your friends or excel your results.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}