{% extends "html/base.html" %}

{% block nav %}
<a class="nav_link" href="game">Game</a>
<a id="exit" class="nav_link" >Sign Out</a>
{% endblock %}

{% block content %}
<div class="profile-page">
    <div class="intro">
        <div class="container">
            <div class="profile">
                <div class="narrow-column">
                    <img src="{{url_for('static', filename='images/avatar.jpg')}}" class="img-avatar" alt="">
                    <h1 id="username"></h1>
                </div>
                <div class="table-place">
                    <button id="clean" class="clean">Clean</button>
                    <div class="table">
                        <table id="story-table" class="story-table" cellpadding="10" width="100%">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Points
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src= "{{url_for('static', filename='js/profile.js')}}"></script>
<script src= "{{url_for('static', filename='js/exit.js')}}"></script>
<script src= "{{url_for('static', filename='js/clean.js')}}"></script>
{% endblock %}